body{
    display: flex;
    flex-direction: column;
    background-color: #8b8d78;
    font-family: Arial, sans-serif;
}

#addPost{
    display: flex;
    justify-content: center;
}
#login{
    display: flex;
    justify-content: center;
}
.navHeader{
    display: flex;
    justify-content:space-between;                    
    
    background-color:rgb(31, 63, 43);
    border-radius: 10px;
    border: 2px solid #747474;
    box-shadow: 2px 3px 3px burlywood;
}
header > div {
    display: flex;
    margin-left: 20px;
}
div > p{
    font-size: 32px;
    align-self: flex-start;
    text-decoration: none;
}
div > p a{    
    color: #fac85c;
    text-decoration: none;
}
div > p a:hover{
    background-color: darkslategrey;
    color:#73AD21;
}
header > p{
    align-self: flex-end;
}
.userLogo{        
    display: flex;        
    width: 72px;
    height: 72px;
    margin-right: 20px;
    margin-top: 8px;
}
/** Dropdown menu on navigation header**/
.dropdown {
    display: flex;
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    
    width: 250px;
}
.dropdown-content.show {
    display: block;
    left: -150px;
}
.dropdown-content p, .dropdown-content a {
    margin-left: 20px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.dropdown-content a:hover {
    background-color: darkslategrey;
    color: #73AD21;
}
/**Form section**/
.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    max-width: 500px;
    border-radius: 8px;
}

.form-field {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
textarea, input[type="file"] {
    
    width: 100%;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 40%;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a:hover{
    color:firebrick;
}
button:hover {
    background-color: #1456d9;
}
h1 + a, p + a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 30px;
    font-size: 25px;
    color: aqua;
}
h1, label {
    display: flex;
    justify-content: center;
    text-align: center;
}


p ~ input {
    display: flex;
    justify-content: center;
    text-align: center;
}
h1 ~ p{
    display: flex;
    justify-content: center;
    text-align: center;
}
